 :root {
    --background-color: #f4f4f9;
    --header-background-color: #587c90; 
    --main-color: #0a4362bd; 
    --nav-link-color: #ffffff; 
    --nav-link-hover-color: #4394a3;
    --text-color: rgb(18, 34, 59); 
    --secondary-color: #587c90bb; 
    --dark-background-color: #222; 
    --dark-header-background-color: #111; 
    --dark-main-color: #333; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: background-color 0.3s;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--header-background-color);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li {
    margin: 0 1rem;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--nav-link-color); 
    padding-bottom: 0.2rem;
    transition: color 0.3s; border-bottom-color 0.3s;
}

nav a:hover {
    color: var(--nav-link-hover-color);
    border-bottom-color: var(--nav-link-hover-color);
}

#dark-mode-toggle {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#dark-mode-toggle:hover {
    background-color: #555;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

#about {
    background-color: var(--secondary-color); 
    padding: 2rem; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

#about h2 {
    color: var(--text-color);
    border-bottom: 2px solid var(--background-color);
    padding-bottom: 0.5rem;
}

#about p {
    color: var(--text-color);
    line-height: 1.6; 
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: var(--text-color);
    border-bottom: 2px solid var(--background-color);
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--secondary-color);
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
}

li strong {
    display: block;
    margin-bottom: 0.5rem;
}

#contact {
    background-color: var(--secondary-color); 
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

#contact h2 {
    color: var(--text-color);
    border-bottom: 2px solid var(--background-color);
    padding-bottom: 0.5rem;
}

#contact p {
    color: var(--text-color);
    line-height: 1.6;
}

a.email-link {
    color: rgb(41, 1, 186);
    text-decoration: none;
    font-weight: bold;
}

a.email-link:hover {
    text-decoration: underline;
}

.dark-mode {
    background-color: var(--dark-background-color);
}

.dark-mode header,
.dark-mode #contact {
    background-color: var(--dark-header-background-color);
    color: white;
}

.dark-mode main {
    background-color: var(--dark-main-color);
}

@media (max-width: 600px) {
    .profile-pic {
        width: 100px;
        height: 100px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.5rem 0;
    }
}
